@charset "UTF-8";
body {
	background-color: #283890;
	background-image: url(images/background_01.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a:link {
	color: #6699FF;
	text-decoration: none;
}
a:visited {
	color: #6699FF;
	text-decoration: none;
}
a:hover {
	color: 283890;
	text-decoration: none;
}
a:active {
	color: #6699FF;
	text-decoration: none;
}
a.bottom:link {
	color: #666666;
	text-decoration: none;
}
a.bottom:visited {
	text-decoration: none;
	color: #666666;
}
a.bottom:hover {
	text-decoration: none;
	color: 999999;
}
a.bottom:active {
	text-decoration: none;
	color: #666666;
}

.boldheader {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: 283890;
}
.bold {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.bodyhome {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #000000;
}
.rightwhite {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}
.rightblack {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #000000;
}
.rightbottomblue {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: ccffff;
}
.footer {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}
.boldheader {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #6633FF;
}
.subpageheader {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: 333399;
}
.italicquote {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #3300FF;
}

.SiteMapHeader{
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: 283890;
}

.SiteMapHeaderNonLink {
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #6699FF;
}

.SiteMapSubHeader{
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: 283890;
	padding-left: 15px;
	padding-top: 5px;
}

.SiteMapSubSubHeader{
	font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: 283890;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

body > table > tbody > tr > td:nth-child(2) {
     -moz-box-shadow: 0px 0px 40px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 40px #000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 40px #000; /* Opera 10.5, IE9, Chrome 10+ */
}

.sidebar-shadow {
     -moz-box-shadow: -2px 6px 5px #000; /* FF3.5+ */
  -webkit-box-shadow: -2px 6px 5px #000; /* Saf3.0+, Chrome */
          box-shadow: -2px 6px 5px #000; /* Opera 10.5, IE9, Chrome 10+ */
}

.marquee {
    font-family: "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif;
    margin: 20px 0;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

img.share {
  max-width: 145px;
}
